<!DOCTYPE html>
<html>

<head>
  <title>Forgot Password | Type Extract</title>
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style id="dynamicStyles"></style>
</head>

<body>
  <div id="app">
    <section class="sectionWrap">
      <section class="sectionInnerWrap">
        <section class="sectionLeft">
          <div class="text-start w-100">
            <h1>Forgot Password</h1>
            <p>No worries. We'll send you reset instructions.</p>
          </div>
        </section>
        <form method="post" id="forgot-password" class="sectionRight">
          <h1 class="pageTitle">Forgot Password</h1>
          <h5 class="text-start">Type Extract</h5>
          <div class="alert message alert-dismissible fade show d-none text-start" role="alert">
              <a type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
          </div>
          <div class="mb-3 text-start">
            <label class="form-label"><span class="loginAsterisk">*</span> Email</label>
            <input type="text" name="forgot-password-email" id="emailInput" class="form-control mb-1" placeholder="Email">
            <span class="error d-none"></span>
          </div>
          <div class="submitWrap">
            <button type="submit">Send Link</button>
          </div>
          <div class="back-to-login">
            <a href="/admin/login">Back to login</a>
          </div>
        </form>
      </section>
    </section>
  </div>

  <script src="/config.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/jQuery.js"></script>
  <script src="/js/scripts.js"></script>
</body>

</html>