<!DOCTYPE html>
<html class="h-100 w-100">
  <head>
    <title>Forgot Password | Type Extract</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body class="h-100 w-100">
    <div class="h-100 w-100 d-flex justify-content-center align-items-center">
      <div class="d-flex" id="forgot-password-inner">
        <div class="text-white d-flex flex-column justify-content-start align-items-center forgot-password-left" id="forgot-password-left">
          <div class="text-start w-100">
            <h1>Forgot Password</h1>
            <p>No worries. We'll send you reset instructions.</p>
          </div>
        </div>
        <form method="post" class="forgot-password-right" id="forgot-password" name="forgot-password-right">
          <h5 class="text-start">Type Extract</h5>
          <div class="alert message d-none text-start p-2" role="alert"></div>
          <div class="mb-3 text-start">
            <label class="form-label">* Email</label>
            <input type="email" name="forgot-password-email" id="emailInput" class="form-control" required="" placeholder="Email">
          </div>
          <button type="submit">Send Link</button>
          <div class="back-to-login">
            <a href="/admin/login">Back to login</a>
          </div>
        </form>
      </div>
    </div>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jQuery.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>