<!DOCTYPE html>
<html>

<head>
  <title>Reset Password | Type Extract</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/type_extract_favicon.jpeg">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style id="dynamicStyles"></style>
</head>

<body>
  <div id="app">
    <section class="sectionWrap">
      <section class="sectionInnerWrap">
        <section class="sectionLeft">
          <div class="text-start w-100">
            <h1>Reset Password</h1>
            <p>Set New Password</p>
          </div>
        </section>
        <form method="post" id="reset-password" class="sectionRight">
          <div  class="mb-5 mb-md-0">
          <div class="mb-2 mb-md-4"><img src="/images/type_extract_logo.jpeg" style="width:170px;"/></div>
          <h1 class="pageTitle mt-3 mb-0 ms-0">Reset Password</h1>
        </div>
          <div class="alert message alert-dismissible fade show d-none text-start" role="alert">
              <a type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
          </div>
          <div class="form-container">
            @if(notFound)
            <h6 class="text-start">The verification link appears to be invalid.</h6>
            @elseif(expired)
            <h6 class="text-start">The verification link you provided is expired. Request a new one <a
                href="/admin/forgot-password">here</a>
            </h6>
            @elseif(valid)
            <div class="mb-3 text-start">
              <label class="form-label"><span class="loginAsterisk">*</span> New Password</label>
              <input type="password" name="newPasswordInput" id="newPasswordInput" class="form-control"
                placeholder="New Password">
              <span class="newPasswordInput error d-none"></span>
            </div>
            <div class="mb-3 text-start">
              <label class="form-label"><span class="loginAsterisk">*</span> Confirm Password</label>
              <input type="password" name="confirmPasswordInput" id="confirmPasswordInput" class="form-control"
                placeholder="Confirm Password">
              <span class="confirmPasswordInput error d-none"></span>
            </div>
            <input type="hidden" name="passwordResetToken" id="passwordResetToken" value="{{token}}">
            <div class="submitWrap">
              <button type="submit">Reset Password</button>
            </div>
            @end
          </div>
          <div class="back-to-login">
            <a href="/admin/login">Back to login</a>
          </div>
        </form>
      </section>
    </section>
  </div>

  <script src="/config.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/jQuery.js"></script>
  <script src="/js/scripts.js"></script>
</body>

</html>