<!DOCTYPE html>
<html class="h-100 w-100">
  <head>
    <title>Reset Password | Type Extract</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        background-color: #F8F9F9
      }

      #reset-password-inner {
        height: 440px;
        width: auto;
        box-shadow: rgba(137, 138, 154, 0.15) 0px 15px 24px 0px;
      }

      #reset-password-left {
        background-color: #3040D6;
        width: 380px;
        padding: 48px;
      }

      #reset-password-left h1 {
        font-family: Roboto, sans-serif;
        padding: 0px;
        font-weight: 300;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 32px;
      }

      #reset-password-left p {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
      }

      #reset-password-right {
        width: 480px;
        padding: 48px;
        background-color: #fff;
        text-align: center;
      }

      #reset-password-right h5,
      #reset-password-right h6 {
        font-family: Roboto, sans-serif;
        vertical-align: middle;
        padding: 0px;
        font-size: 18px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 32px;
      }

      #reset-password-right h6 {
        font-size: 16px;
        font-weight: 300;
      }

      #reset-password-right label {
        display: block;
        font-family: Roboto, sans-serif;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 8px;
      }

      #reset-password-right input {
        box-sizing: border-box;
        color: rgb(12, 30, 41);
        background: transparent;
        border: 1px solid rgb(187, 195, 203);
        border-radius: 2px;
        font-size: 14px;
        line-height: 24px;
        font-family: Roboto, sans-serif;
        outline: none;
        padding: 4px 8px;
      }

      #reset-password-right input:focus {
        border-color: rgb(48, 64, 214);
        box-shadow: none;
      }

      #reset-password-right button {
        appearance: none;
        display: inline-block;
        background-color: transparent;
        outline: 0px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        vertical-align: middle;
        border-radius: 4px;
        user-select: none;
        text-align: center;
        border: 1px solid currentcolor;
        cursor: pointer;
        text-decoration: none;
        box-sizing: border-box;
        transition: all 0.1s ease-in 0s;
        color: rgb(48, 64, 214);
        padding: 4px 32px;
        line-height: 24px;
        margin-top: 24px;
      }

      #reset-password-right button:hover {
        background-color: rgba(48, 64, 214, 0.05);
      }

      #reset-password-right button:focus {
        box-shadow: none;
      }

      .message {
        font-size: 14px;
      }

      .back-to-login {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        text-align: center;
        margin-top: 16px;
      }

      .back-to-login a {
        color: #551a8b;
      }
    </style>
  </head>
  <body class="h-100 w-100">
    <div class="h-100 w-100 d-flex justify-content-center align-items-center">
      <div class="d-flex" id="reset-password-inner">
        <div class="text-white d-flex flex-column justify-content-start align-items-center" id="reset-password-left">
          <div class="text-start w-100">
            <h1>Reset Password</h1>
            <p>Set New Password</p>
          </div>
        </div>
        <form method="post" class="reset-password-form" id="reset-password-right" name="reset-password-right">
          <h5 class="text-start">Type Extract</h5>
          <div class="form-container"> 
            @if(notFound) 
              <h6 class="text-start">The verification link appears to be invalid.</h6> 
            @elseif(expired) 
              <h6 class="text-start">The verification link you provided is expired. Request a new one <a href="/admin/forgot-password">here</a>
              </h6>
            @elseif(valid) 
              <div class="alert message d-none text-start p-2" role="alert"></div>
              <div class="mb-3 text-start">
                <label class="form-label">* New Password</label>
                <input type="password" name="newPasswordInput" id="newPasswordInput" class="form-control" required placeholder="New Password">
              </div>
              <div class="mb-3 text-start">
                <label class="form-label">* Confirm Password</label>
                <input type="password" name="confirmPasswordInput" id="confirmPasswordInput" class="form-control" required placeholder="Confirm Password">
              </div>
              <input type="hidden" name="passwordResetToken" id="passwordResetToken" value="{{token}}">
              <button type="submit" class="btn btn-primary">Reset Password</button> 
            @end
          </div>
          <div class="back-to-login">
            <a href="/admin/login">Back to login</a>
          </div>
        </form>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
      jQuery('#reset-password-right').on('submit', function(e) {
            e.preventDefault();
            var newPassword = jQuery('#newPasswordInput').val();
            var confirmPassword = jQuery('#confirmPasswordInput').val();
            var token = jQuery('#passwordResetToken').val();
            if (!isValidPassword(newPassword)) {
              showMessage('Must contain: 8 or more characters, 1 uppercase, 1 lowercase, 1 number, 1 special character.', false);
              return;
            }
            if (newPassword === confirmPassword) {
              const data = {
                password: newPassword,
                token: token
              };
              jQuery.ajax({
                  type: 'POST',
                  url: 'http://localhost:8000/admin/reset-password',
                  dataType: 'json',
                  contentType: 'application/json',
                  data: JSON.stringify(data),
                  success: function(response) {
                    if (response.statusCode == 200) {
                      jQuery('.form-container').html("<h6 class = 'text-start' > " + response.message + " </h6>");
                      }
                    },
                    error: function(response) {}
                  });
              }
              else {
                showMessage('The new and confirm passwords do not match.', false);
                return
              }
            });

          function isValidPassword(password) {
            pattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s)(?=.*[!@#$*])/;
            return pattern.test(password);
          }

          function showMessage(message, messageType) {
            if (messageType === true) {
              jQuery('.message').removeClass('alert-danger d-none').addClass('alert-success d-block').text(message).delay(3000).fadeOut('slow', function() {
                jQuery(this).addClass('d-none').text('');
              });
            } else {
              jQuery('.message').removeClass('alert-success d-none').addClass('alert-danger d-block').text(message).delay(3000).fadeOut('slow', function() {
                jQuery(this).addClass('d-none').text('');
              });
              jQuery('#emailInput').trigger('focus');
            }
          }
    </script>
  </body>
</html>