<!DOCTYPE html>
<html class="h-100 w-100">
  <head>
    <title>Reset Password | Type Extract</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
  </head>
  <body class="h-100 w-100">
    <div class="h-100 w-100 d-flex justify-content-center align-items-center">
      <div class="d-flex" id="forgot-password-inner">
        <div class="text-white d-flex flex-column justify-content-start align-items-center forgot-password-left" id="reset-password-left">
          <div class="text-start w-100">
            <h1>Reset Password</h1>
            <p>Set New Password</p>
          </div>
        </div>
        <form method="post" class="forgot-password-right" id="reset-password" name="reset-password-right">
          <h5 class="text-start">Type Extract</h5>
          <div class="alert message d-none text-start p-2" role="alert"></div>
          <div class="form-container"> 
            @if(notFound) 
              <h6 class="text-start">The verification link appears to be invalid.</h6> 
            @elseif(expired) 
              <h6 class="text-start">The verification link you provided is expired. Request a new one <a href="/admin/forgot-password">here</a>
              </h6>
            @elseif(valid) 
              <div class="alert message d-none text-start p-2" role="alert"></div>
              <div class="mb-3 text-start">
                <label class="form-label">* New Password</label>
                <input type="password" name="newPasswordInput" id="newPasswordInput" class="form-control" required placeholder="New Password">
              </div>
              <div class="mb-3 text-start">
                <label class="form-label">* Confirm Password</label>
                <input type="password" name="confirmPasswordInput" id="confirmPasswordInput" class="form-control" required placeholder="Confirm Password">
              </div>
              <input type="hidden" name="passwordResetToken" id="passwordResetToken" value="{{token}}">
              <button type="submit">Reset Password</button> 
            @end
          </div>
          <div class="back-to-login">
            <a href="/admin/login">Back to login</a>
          </div>
        </form>
      </div>
    </div>
    <script src="/config.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/jQuery.js"></script>
    <script src="/js/scripts.js"></script>
  </body>
</html>