<!DOCTYPE html>
<html>

<head>
  <title>Sign Up  | Type Extract</title>
  <link rel="shortcut icon" type="image/x-icon" href="/images/type_extract_favicon.jpeg">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style id="dynamicStyles"></style>
</head>

<body>
  <div id="app">
    <section class="sectionWrap">
      <section class="sectionInnerWrap">
        <section class="sectionLeft">
          <div class="text-start w-100">
            <h1>Sign Up</h1>
            <p>Create a new account</p>
          </div>
        </section>
        <form method="post" id="sign-up" class="sectionRight">
          <div class="mb-5 mb-md-0">
            <div class="mb-2 mb-md-4"><img src="/images/type_extract_logo.jpeg" style="width:170px;" /></div>
            <h1 class="pageTitle mt-3 mb-0 ms-0">Sign Up</h1>
          </div>

          <div class="alert message alert-dismissible fade show d-none text-start" role="alert">
            <a type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></a>
          </div>
          <div class="mb-3 text-start">
            <label class="form-label"><span class="loginAsterisk">*</span> Email</label>
            <input type="text" name="sign-up-email" id="emailInput" class="form-control mb-1"
              placeholder="Email">
            <span class="emailInput error d-none"></span>
          </div>
          <div class="mb-3 text-start">
            <label class="form-label"><span class="loginAsterisk">*</span> Name</label>
            <input type="text" name="sign-up-name" id="nameInput" class="form-control mb-1"
              placeholder="Name">
            <span class="nameInput error d-none"></span>
          </div>
          <div class="mb-3 text-start">
              <label class="form-label"><span class="loginAsterisk">*</span> New Password</label>
              <input type="password" name="newPasswordInput" id="newPasswordInput" class="form-control mb-1"
                placeholder="New Password">
              <span class="newPasswordInput error d-none"></span>
            </div>
            <div class="mb-3 text-start">
              <label class="form-label"><span class="loginAsterisk">*</span> Confirm Password</label>
              <input type="password" name="confirmPasswordInput" id="confirmPasswordInput" class="form-control mb-1"
                placeholder="Confirm Password">
              <span class="confirmPasswordInput error d-none"></span>
            </div>
          <div class="submitWrap">
            <button type="submit">Send Link</button>
          </div>
          <div class="back-to-login">
            <a href="/admin/login">Back to login</a>
          </div>
        </form>
      </section>
    </section>
  </div>

  <script src="/config.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>
  <script src="/js/jQuery.js"></script>
  <script src="/js/scripts.js"></script>
</body>

</html>