body,
html,
#app {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.sectionWrap {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    font-family: Roboto, sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background-color: rgb(248, 249, 249);
    padding: 24px 0px;
}

.sectionInnerWrap {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    font-family: Roboto, sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    background-color: rgb(255, 255, 255);
    height: 440px;
    width: 100%;
    box-shadow: rgba(137, 138, 154, 0.15) 0px 15px 24px 0px;
}

.sectionLeft {
    box-sizing: border-box;
    min-width: 0px;
    font-family: Roboto, sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    padding: 48px;
    background-color: rgb(48, 64, 214);
    color: rgb(255, 255, 255);
    width: 380px;
    display: none;
    -webkit-box-flex: 0;
    flex-grow: 0;
    position: relative;
}

.sectionLeft h1 {
    font-family: Roboto, sans-serif;
    padding: 0px;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
}

.pageTitle {
    color: #000;
    font-family: Roboto, sans-serif;
    padding: 0px;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    text-align: center;
    display: none;
}

.loginError {
    position: relative;
    padding: 1rem 3rem 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    font-size: 14px;
    text-align: left;
}

.loginError a {
    box-sizing: content-box;
    width: 1em;
    height: 0.7em;
    color: #000;
    background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e")
        center/1em auto no-repeat;
    border: 0;
    border-radius: 0.25rem;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1.25rem 1rem;
}

.sectionLeft p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
}

.sectionRight {
    box-sizing: border-box;
    min-width: 0px;
    font-family: Roboto, sans-serif;
    line-height: 16px;
    font-size: 14px;
    font-weight: normal;
    padding: 48px;
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.sectionRight h5,
.sectionRight h6 {
    font-family: Roboto, sans-serif;
    vertical-align: middle;
    padding: 0px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}

.sectionRight h6 {
    font-size: 16px;
    font-weight: 300;
}

.sectionRight label {
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 8px;
}

.sectionRight input {
    box-sizing: border-box;
    color: rgb(12, 30, 41);
    background: transparent;
    border: 1px solid rgb(187, 195, 203);
    border-radius: 2px;
    font-size: 14px;
    line-height: 24px;
    font-family: Roboto, sans-serif;
    outline: none;
    padding: 4px 8px;
}

.sectionRight input:focus {
    border-color: rgb(48, 64, 214);
    box-shadow: none;
}

.submitWrap {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 24px;
}

.sectionRight .submitWrap button {
    appearance: none;
    display: inline-block;
    background-color: transparent;
    outline: 0px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    vertical-align: middle;
    border-radius: 4px;
    user-select: none;
    text-align: center;
    border: 1px solid currentcolor;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    transition: all 0.1s ease-in 0s;
    color: rgb(48, 64, 214);
    padding: 4px 32px;
    line-height: 24px;
}

.sectionRight .submitWrap button:hover {
    background-color: rgba(48, 64, 214, 0.05);
    color: rgb(48, 64, 214);
}

.sectionRight .submitWrap button:focus {
    box-shadow: none;
}

.message {
    font-size: 14px;
}

.back-to-login {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    margin-top: 16px;
}

.back-to-login a {
    color: #551a8b;
}

.error {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    color: red;
}

.adminjs_Resources > section {
    padding: 16px 5px;
}

.loginAsterisk {
    color: rgb(48, 64, 214);
}

[data-css="letters-export-button"].adminjs_ButtonGroupItem,
[data-css="books-export-button"].adminjs_ButtonGroupItem {
    display: none;
}

.comment-container.overflowing {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

@media screen and (max-width: 769px) {
    .sectionInnerWrap {
        height: auto;
    }
    .pageTitle {
        display: block;
    }
}

@media (max-width: 416px) {
    [data-css="books-show-button"].adminjs_ButtonGroupItem,
    [data-css="books-edit-button"].adminjs_ButtonGroupItem,
    [data-css="books-delete-button"].adminjs_ButtonGroupItem {
        margin-bottom: 10px;
    }
}

@media (max-width: 325px) {
    [data-css="books-ViewBook-breadcrumbs"].adminjs_Breadcrumbs a {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .jdcQJo.adminjs_Box {
        width: 96%;
    }
}

@media (max-width: 440px) {
    .createLetterBtnWrap button {
        padding: 4px 9px;
    }
}
