<p>Dear {{ userName }},</p>
<p>Thank you for registering with Type Extract!</p>
<p>To complete your registration and activate your account, please click on the following link to verify your email address:</p>
<p>
    <a href="{{ url }}">Verify</a>
</p>
<p>Once your email address is verified, you'll be able to access all of our account features.</p>
<p>If you did not sign up for an account with us, please ignore this email.</p>

<p>Best regards,</p>
<p>Type Extract</p>
<p><a href="mailto:typeextract@gmail.com">typeextract@gmail.com</a></p>
