<p>Dear {{ userName }},</p>
<p>We received a request to reset the password associated with your account at Type Extract.</p>
<p>Click on the following link to reset your password: <a href="{{ url }}">Reset</a></p>
<p>If this was a mistake, just ignore this email and nothing will happen.</p>
<p>If you encounter any issues or need further assistance, please don't hesitate to contact our support team at <a
        href="mailto:typeextract@gmail.com">typeextract@gmail.com</a>.</p>
<p>Best regards,<br />
    Type Extract<br />
    <a href="mailto:typeextract@gmail.com">typeextract@gmail.com</a>
</p>