<html>
<head>
  <meta charset="utf-8">
</head>
<body>
  <div>
    <div style="text-align: left;">
      <p style="font-size:18px;font-weight: 700;">
        Book Name: <span style="text-align: center; font-family: Baloo;font-weight: 500;">{{ bookName }}</span>
      </p>
      @if(publisher)
      <p style="font-size:18px;font-weight: 700;">
        Publisher Name: <span style="text-align: center; font-family: Baloo;font-weight: 500;">{{publisher}}</span>
      </p>
      @end
      @if (year)
      <p style="font-size:18px;font-weight: 700;">
        Published Year: <span style="text-align: center; font-family: Baloo;font-weight: 500;">{{ year }}</span>
      </p>
      @end
      @if (language)
      <p style="font-size:18px;font-weight: 700;">
        Book Language: <span style="text-align: center; font-family: Baloo;font-weight: 500;">{{ language }}</span>
      </p>
      @end
    </div>
    <div style="display:flex;justify-content:center;text-align:center;align-items:center;">
      <p style="color: #000; margin: auto;width:100%;font-size:18px;font-weight: 700; ">Tags</p>
    </div>
    @each ((type, language) in data)
    <div style="margin-top: 10px;break-inside: avoid;">
      <h2 style="margin-bottom: 5px;font-weight: 600;font-size:16px;">{{ language }}</h2>
      <div style="padding:10px;">
        @each ((items, lettertype) in type)
        <h3 style="font-weight: 500;font-size:15px;">{{ lettertype }}</h3>
        <div
          style="width:100%;display:flex;flex-direction:row;padding-left: 20px;align-items:center;flex-wrap:wrap;margin-top:10px;">
          @each ((item, index) in items)
          <div
            style="display:flex;justify-content:center;text-align:center;border:1px solid #BCBEC0;align-items:center;padding:5px;flex-direction: column;">
            <p style="text-align:center;font-size:18px;font-weight: 400;line-height:1; ">{{ item.letter }}</p>
            @if(item.image === "-")
              <span style="width:60px;height:60px;display:flex;align-items: center;justify-content: center;">{{item.image}}<span>
            @else
              <img src="{{ item.image }}" alt="image for {{ item.letter }}" loading="lazy" style="width:60px;height:60px;objectFit:cover;textAlign:center;margin:auto;border-radius:5px;" />
            @end
          </div>
          @end
        </div>
        @end
      </div>
    </div>
    @end
  </div>
</body>
</html>