<p>Dear {{ userName }},
<p>Welcome to Type Extract! We're delighted to have you as a member of our community.</p>
<p><a href="{{url}}">Click here to login</a></p>
<p>Best regards,<br />
    Type Extract<br />
    <a href="mailto:typeextract@gmail.com">typeextract@gmail.com</a>
</p>